{% extends "base.html" %}
{% load viewutils %}

{% block content %}

<header class="subscription-center-header">
  <h1>Subscriptions</h1>
</header>

<!-- Show Django messages for non-JS fallback -->
{% if messages %}
  {% for message in messages %}
    <div class="subscriptions-center-message">{{ message }}</div>
  {% endfor %}
{% endif %}

<p>When a new CVE is suspected to affect packages you have subscribed to, you will receive a notification.</p>

<div id="auto-subscribe-container">
  <h2>Auto-subscription to maintained packages</h2>

  {% auto_subscribe_toggle user.profile.auto_subscribe_to_maintained_packages %}
</div>

<div id="package-subscriptions-container">
  <h2>Additional packages</h2>

  <p>You may subscribe to additional packages here. Those could also be packages you maintain in case you decided to opt out of automatic subscription.</p>

  {% package_subscriptions package_subscriptions %}
</div>

{% endblock content %}
