@font-face {
  font-family: "icomoon";
  src:
    url("fonts/icomoon.ttf?owrnj1") format("truetype"),
    url("fonts/icomoon.woff?owrnj1") format("woff"),
    url("fonts/icomoon.svg?owrnj1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-draft:before {
  content: "\e908";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-inbox:before {
  content: "\e95c";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-github:before {
  content: "\eab0";
}
