{% load static socialaccount %}
{% load viewutils %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Nixpkgs Security Tracker{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="/static/font.css" />
    <link rel="stylesheet" type="text/css" href="/static/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/utility.css" />
    <link rel="stylesheet" type="text/css" href="/static/page-layout.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/static/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="/static/notifications.css" />
    <link rel="stylesheet" type="text/css" href="/static/subscriptions.css" />

    <!-- TODO Remove that: it's only used for css in affected_list -->
    {% block extra_head %}{% endblock extra_head %}
  </head>

  <body>

    <nav class="header" id="header-bar">
      <h1>
        <a href="{% url 'webview:home' %}">
          Nixpkgs Security Tracker
        </a>
      </h1>
      <div>
        {% if user.is_staff %}
        <!-- TODO settings? -->
        {% endif %}

        {% block auth %}
        {% if user.is_authenticated %}
        {% get_social_accounts user as accounts %}
        <div id="user-section">
          {% if accounts and "github" in accounts %}
            <a href="https://github.com/{{ accounts.github.0.extra_data.login }}"
               target="_blank">
               {{ user.username }}
            </a>
          {% else %}
            <span>{{user.username}}</span>
          {% endif %}
          <a
            href="{% url 'webview:subscriptions:center' %}"
            class="subscriptions-navbar-icon"
          >
          </a>
          {% notifications_badge user.profile.unread_notifications_count %}
          <a href="{% url 'account_logout' %}">
            Logout
          </a>
        </div>

        {% else %}

        <a href="{% provider_login_url 'github' next=request.get_full_path %}">
          Login with GitHub
        </a>
        {% endif %}
        {% endblock %}
      </div>
    </nav>
    {% if debug %}
      <div id="testing-disclaimer">
        <em>⚠️ You are using a <strong>publicly accessible</strong> testing environment.
        Don’t enter secrets into this system, especially not by reusing passwords for your user account.</em>
      </div>
    {% elif show_demo_disclaimer %}
      <div id="testing-disclaimer">
        <em>⚠️ You are using a production deployment that is <strong>still only suitable for demo purposes.</strong>
        Any work done in this might be wiped later without notice.</em>
      </div>
    {% endif %}

    <!-- Show Django messages, mostly for non-JS fallback -->
    {% if messages %}
    <div id="messages">
      {% for message in messages %}
        <div class="message">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}

    <nav id="menu-bar">
      <ul>
        <li><a href="/dismissed">Dismissed suggestions</a></li>
        <li><a href="/suggestions">Untriaged suggestions</a></li>
        <li><a href="/drafts">Draft issues</a></li>
        <li><a href="/issues">Published issues</a></li>
      </ul>
    </nav>

    {% block layout %}
      <main id="page-content">
        {% block content %}{% endblock content %}
      </main>
    {% endblock layout %}

    {% if is_paginated %}
      {% include "components/pagination.html" %}
    {% endif %}

    <footer>
      <p>
        <a href="https://github.com/NixOS/nix-security-tracker">Nixpkgs Security Tracker</a> is part of a project funded by the
        <a href="https://sovereigntechfund.de/en/">Sovereign Tech Fund</a>.
      </p>
      <p>
        Running revision
        {% if production %}
          <a href="https://github.com/NixOS/nix-security-tracker/commit/{{ git_revision }}">
            {{ git_revision|slice:":20" }}
          </a>
        {% else %}
           {{ git_revision }} (development)
        {% endif %}
      </p>
    </footer>
    <script src="/static/htmx.min.js"></script>
    <script>
      // We didn't find a better way to remove buttons that are only needed for non-JS workflows
      document.querySelectorAll(".remove-when-js-is-enabled").forEach(e => e.remove());
    </script>
  </body>
</html>
