{% load static %}
{% load django_vite %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nixpkgs security tracker</title>
    {% vite_hmr_client %}
    {% vite_asset 'src/main.tsx' %}
  </head>
  <body>
    <div id="app">
      <div style="min-height: 100vh;
                  display: flex;
                  align-items: center;
                  font-family: sans">
        <div style="max-width: 30em; margin: auto; text-align: center;">
          <img id="site-logo"
               alt=""
               aria-hidden="true"
               height="100"
               width="100"
               src="{% static 'nixos-logo.svg' %}"
               style="filter: brightness(0)" />
          <p>Loading Nixpkgs security tracker...</p>
          <p style="color: #aaa;">JavaScript must be enabled</p>
        </div>
      </div>
    </div>
  </body>
</html>
