/* Page layout
 *
 * These define one-time use styles for the general page layout and one-time use elements. 
 * 
 * Recurring or reusable UI components should be defined as utility classes in utility.css.
 */

#header-bar {
  background-color: black;
  padding: 0.5em;
  color: white;
}

#header-bar h1 {
  font-size: 2em;
  font-weight: bold;
}

#header-bar h1 a {
  text-decoration: none;
}

#testing-disclaimer {
  width: 100%;
  padding: 0.5em;
  background-color: var(--light-yellow);
  text-align: center;
}

#menu-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em;
}

#menu-bar ul {
  display: contents;
}

#page-content {
  flex: 1;
  width: 100%;
  max-width: 70em;
  margin: 2em auto;
  padding: 1em;
}

#pagination {
  margin: 0 auto 2em auto;
}

#messages {
  padding: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: black;
  color: white;
  padding: 2em;
}

/* Notification badge */

#notifications-badge {
  display: block;
  height: 2em;
  padding-left: 1.5em;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  text-decoration: none;
}

.notifications-badge-none {
  background-image: url("/static/bell-normal.svg");
}

.notifications-badge-alert {
  background-image: url("/static/bell-ringing.svg");
}

.notifications-badge-count {
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: bold;
  width: 1.8em;
  height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}

.notifications-badge-none > .notifications-badge-count {
  visibility: hidden;
}

#subscriptions-navbar-icon {
  display: block;
  height: 2em;
  padding-left: 1.5em;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("/static/eye.svg");
}
