#header-bar {
  background-color: black;
  padding: 0.5em;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

#header-bar h1 {
  font-size: 2em;
  font-weight: bold;
}

#header-bar a {
  text-decoration: none;
}

#user-section {
  display: flex;
  gap: 1em;
  align-items: center;
}

#testing-disclaimer {
  width: 100%;
  padding: 0.5em;
  background-color: #fcfaba;
  text-align: center;
}

#menu-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
}

#menu-bar ul {
  display: contents;
}

#page-content {
  flex: 1;
  max-width: 70em;
  margin: 2em auto;
  padding: 1em;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: black;
  color: white;
  padding: 2em;
}
