/* Utility classes */

/* Prose */

.prose p {
  margin: 1em 0;
}

.prose ul {
  list-style-type: disc;
  padding-left: 1em;
}

.prose li {
  margin: 1em 0;
}

/* Buttons */

.btn {
  font-size: 1em;
  border: solid 2px white;
  border-radius: 0.4em;
  padding: 0.3em 0.5em;
  outline-width: 2px;
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:not(:disabled):hover {
  outline-style: solid;
}

.btn-green {
  background-color: var(--green);
  outline-color: var(--green);
  color: white;
}

.btn-gray {
  background-color: var(--gray);
  outline-color: var(--gray);
  color: white;
}

.btn-red {
  background-color: var(--red);
  outline-color: var(--red);
  color: white;
}

/* Titles */

.page-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.heading {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Text */

.bold {
  font-weight: bold;
}

.monospace {
  font-family: "IBM Plex Mono";
}

.condensed {
  font-family: "IBM Plex Sans Condensed";
}

.uppercase {
  text-transform: uppercase;
}

.dimmed {
  color: var(--gray);
}

.hl-red {
  background-color: var(--light-red);
}

.hl-green {
  background-color: var(--light-green);
}

/* Flexboxes */

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

.inline-row {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
}

.centered {
  align-items: center;
}

.baseline {
  align-items: baseline;
}

.align-end {
  align-items: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
}

.contents {
  display: contents;
}

.full-width {
  width: 100%;
}

.spread {
  justify-content: space-between;
}

.gap {
  gap: 1em;
}

.gap-small {
  gap: 0.5em;
}

.grow {
  flex-grow: 1;
}

.wrap {
  flex-wrap: wrap;
}

/* Containers with dividers */

.dividers > *:not(:first-child) {
  padding-top: 0.5em;
}

.dividers > *:not(:last-child) {
  padding-bottom: 0.5em;
}

.dividers > * {
  border-bottom: 1px solid var(--gray);
}

.dividers > *:last-child {
  border-bottom: none;
}

/* Size */

.w-10 {
  width: 10em;
}

.w-20 {
  width: 20em;
}

.basis-20 {
  flex-basis: 20em;
}

/* Boxes */

.rounded-box {
  border: 1px solid var(--gray);
  padding: 1em;
  border-radius: 0.4em;
  overflow: auto;
}

/* Toggle box */

.toggler {
  padding: 1em;
  border-radius: 0.4em;
  display: flex;
  gap: 1em;
  align-items: center;
}

.toggler::before {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  width: 1em;
}

.toggler-on {
  background-color: var(--light-green);
}

.toggler-off::before {
  content: "✕";
  color: var(--gray);
}

.toggler-off {
  background-color: var(--light-gray);
}

.toggler-on::before {
  content: "✓";
  color: var(--green);
}

/* Accordions (details/summary) */

details > summary > .details-open {
  display: none;
}

details[open] > summary > .details-open {
  display: inline;
}

details[open] > summary > .details-closed {
  display: none;
}

/* Errors */

.error-block {
  padding: 1em;
  border-radius: 0.4em;
  background-color: var(--red);
  color: white;
  font-weight: bold;
}

.error-inline {
  color: var(--red);
  font-weight: bold;
}

/* Highlighting */

@keyframes quick-highlight {
  0% {
    background: var(--light-yellow);
  }
  100% {
  }
}

.highlight {
  background-color: var(--light-yellow);
}

.highlight-target:target {
  animation: quick-highlight 3s;
}

.highlight-nonempty:not(:placeholder-shown) {
  background-color: var(--light-yellow);
}
