<div class="column gap">
  {% for package_name, ap in affected.items %}
    <article
      class="row gap spread wrap"
      title="{% if ap.cpes %}{{ ap.cpes|join:'&#13;' }}{% else %}No CPE info{% endif %}"
    >
      <div>
        {{ package_name }}
      </div>
      <ul class="w-10">
        {% for status, vc_str in ap.version_constraints %}
          <li
            {% if status == 'affected'%}
            class="hl-red"
            title="Affected"
            {% elif status == 'unaffected' %}
            class="hl-green"
            title="Unaffected"
            {% endif %}
          >
            {{ vc_str }}
          </li>
        {% endfor %}
      </ul>
    </article>
  {% endfor %}
</div>
