{% load viewutils %}

<article class="rounded-box column gap" id="issue-{{ issue.code }}">

  <div class="row gap spread">
    <div class="uppercase">{{ issue.status_string }}</div>
    <div>created on {{ issue.created }}</div>
  </div>

  <details>
    <summary class="heading">
      {{ issue.code }}
    </summary>
    <p>{{ issue.suggestion.cached.payload.description }}</p>
  </details>


  <div class="rounded-box">
    <h2 class="heading dimmed">Vulnerabilities</h2>
    <ul class="column gap-small">
      <li>
        <a class="cve-id" href="https://nvd.nist.gov/vuln/detail/{{ issue.suggestion.cached.payload.cve_id | urlencode }}">
          {{ issue.suggestion.cached.payload.cve_id }}
        </a>
      </li>
    </ul>
  </div>

  {% if issue.suggestion.cached.payload.packages %}
  <div class="rounded-box">
    <h2 class="heading dimmed">Related packages</h2>
    {% nixpkgs_package_list issue.suggestion.cached.payload.packages %}
  </div>
  {% endif %}

  {% if issue.suggestion.comment %}
  <pre class="rounded-box monospace highlight-nonempty">{{ issue.suggestion.comment|default:"" }}</pre>
  {% endif %}

  {% if show_permalink %}
    <a href="/issues/{{ issue.code }}" class="permalink">Permalink</a>
  {% endif %}

</article>

