{% load viewutils %}

<article class="rounded-box column gap" id="issue-{{ issue.code }}">

  <div class="row gap spread">
    <a href="{% url 'webview:issue_detail' code=issue.code %}">{{ issue.code }}</a>
    <div>
      {% if github_issue %}<a href="{{ github_issue }}" target="_blank" class="permalink">GitHub issue</a>{% endif %}
      published on {{ issue.created }}
    </div>
  </div>

  {% if issue.title %}<div class="bold">{{ issue.title }}</div>{% endif %}

  <div class="column gap-small">
    {% for suggestion_context in suggestion_contexts %}
      {% suggestion suggestion_context %}
    {% endfor %}
  </div>

</article>
