{% load viewutils %}

{% if maintainers %}
  <div
    id="maintainers-list-{{ suggestion_id }}"
    class="rounded-box column gap"
    {% if oob_update %}hx-swap-oob="true" open{% endif %}
  >
    <h2 class="heading dimmed">
      {%if selectable %}
        Notify package maintainers:
      {% else %}
        Package maintainers:
      {% endif %}
      {{ maintainers | length }}
    </h2>

    <div class="column gap">
      <ul class="column gap-small">
      {% for maintainer in maintainers %}
        <li class="maintainer-container">
          {% if selectable %}
          {% selectable_maintainer maintainer %}
          {% else %}
          {% maintainer maintainer %}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
      {% if selectable %}
      {% add_maintainer %}
      {% endif %}
    </div>
  </div>
{% endif %}
