{% load viewutils %}

<article class="row gap spread full-width wrap">
  <div class="column basis-20 grow">
    <h3 class="bold"><span class="dimmed">pkgs.</span><a href="{% url 'webview:suggestion:suggestions_by_package' attribute_name %}">{{ attribute_name }}</a></h3>
    <p>{{ pdata.description }}</p>
  </div>
  <ul class="w-25 column">
    {% for major_channel, major_version in pdata.channels|reverse_keys %}
      <li>
        <details {% if not major_version.uniform_versions %}open{% endif %} class="details-marker-outside">
          <summary>
            <div class="inline-row gap-small">
              <span class="w-12">{{ major_channel }}</span>
              {% if major_version.major_version %}
              <a
                class="{% if major_version.status == 'affected' %}hl-red{% elif major_version.status == 'unaffected' %}hl-green{% endif %}"
                target="_blank"
                href="{{ major_version.src_position }}"
                title="evaluated {{ major_version.updated|iso }}"
              >
                {{ major_version.major_version }}
              </a>
              {% else %}
              -
              {% endif %}
            </div>
          </summary>
          <ul class="column">
          {% for branch_name, minor_version in major_version.sub_branches.items %}
            <li class="inline-row gap-small">
              <span class="w-12">{{ branch_name }}</span>
              <a
                class="{% if minor_version.status == 'affected' %}hl-red{% elif minor_version.status == 'unaffected' %}hl-green{% endif %}"
                target="_blank"
                href="{{ minor_version.src_position }}"
                title="evaluated {{ minor_version.updated|iso }}"
              >
                {{ minor_version.version }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </details>
      </li>
    {% endfor %}
  </ul>
</article>
