{% load viewutils %}

<article class="row gap-small spread full-width wrap">
  <div class="column basis-20 grow">
    <h3 class="bold"><span class="dimmed">pkgs.</span>{{ attribute_name }}</h3>
    <p>{{ pdata.description }}</p>
  </div>
  <ul class="w-20 column">
    {% for major_channel, major_version in pdata.versions %}
      <li>
        <details {% if major_version.uniform_versions %}open{% endif %} class="condensed">
          <summary>
            <div class="inline-row gap-small wrap">
              <span class="w-10">{{ major_channel }}</span>
              {% if major_version %}
              <a class="{% if major_version.status == 'affected' %}hl-red{% elif major_version.status == 'unaffected' %}hl-green{% endif %}" target="_blank" href="{{ major_version.src_position }}">
                {% if major_version.major_version %}
                  {{ major_version.major_version }}
                {% else %}
                  ???
                {% endif %}
              </a>
              {% else %}
              ???
              {% endif %}
            </div>
          </summary>
          <ul class="column">
          {% for branch_name, minor_version in major_version.sub_branches %}
            <li class="inline-row gap-small wrap">
              <span class="w-10">{{ branch_name }}</span>
              <a
                class="{% if minor_version.status == 'affected' %}hl-red{% elif minor_version.status == 'unaffected' %}hl-green{% endif %}"
                target="_blank"
                href="{{ minor_version.src_position }}">
                  {{ minor_version.version }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </details>
      </li>
    {% endfor %}
  </ul>
</article>
