{% load viewutils %}

<div class="row gap centered maintainer-container {% if deleted %} maintainer-edit-add{% else %} maintainer-edit-remove{%endif %}">
  <button
    type="submit"
    name="edit_maintainer_id"
    value="{{ maintainer.github_id }}"
    hx-post="{% url 'webview:edit_maintainers' %}"
    hx-swap="outerHTML"
    hx-target="closest .maintainer-container"
    hx-indicator="this .state-change-indicator"
    class="btn {% if deleted %}btn-green{% else %}btn-gray{% endif %} row gap-small centered"
  />
    {% if deleted %}<i class="icon-user-plus"></i>Restore{% else %}<i class="icon-user-minus"></i>Remove{% endif %}
  </button>
  {% maintainer maintainer %}
</div>
