{% if cvss.vector_string %}
  <details title="{{ cvss.vector_string }}">
    <summary>
      <span class="cvsstag {{ cvss.base_severity }}">
        {{ cvss.base_score|floatformat:1 }}&nbsp;<span class="condensed">{{ cvss.base_severity }}</span>
      </span>
    </summary>
    <ul>
      <li>
        CVSS version (CVSS): <span class="cvsstag condensed">{{ cvss.version }}</span>
      </li>
      {% for label, value in human_readable.items %}
        <li>
          {{ label }}: <span class="cvsstag condensed">{{ value }}</span>
        </li>
      {% endfor %}
    </ul>
  </details>
{% endif %}
