{% load viewutils %}

<article class="rounded-box column gap highlight-target" hx-target="this" id="suggestion-{{ cached_suggestion.pk }}">
  <form
    class="contents"
    method="post"
    action=""
    hx-boost="true"
    hx-swap="outerHTML show:none"
    hx-indicator="find .state-change-indicator"
    hx-params="not no-js"
    autocomplete="off"
  >
    <input type="hidden" name="no-js">
    {% csrf_token %}
    <input type="hidden" name="suggestion_id" value="{{ cached_suggestion.pk }}">
    <input type="hidden" name="page" value="{{ page_obj.number }}">

    <div class="row spread">
      <div class="row gap">
        <a href="https://nvd.nist.gov/vuln/detail/{{ cached_suggestion.cve_id | urlencode }}">
          {{ cached_suggestion.cve_id }}
        </a>
        {% if cached_suggestion.metrics %}
          {% severity_badge cached_suggestion.metrics %}
        {% endif %}
      </div>
      <div class="row gap">
        <img class="state-change-indicator htmx-indicator" src="/static/spinner.svg">
        {% suggestion_activity_log suggestion activity_log %}
      </div>
    </div>

    <details>
      <summary class="heading">
        {% if cached_suggestion.title %}
          {{ cached_suggestion.title }}
        {% else %}
          {{ cached_suggestion.description|truncatewords:10 }}
        {% endif %}
      </summary>
      <p>{{ cached_suggestion.description }}</p>
    </details>

    <div class="rounded-box column gap">
      <h2 class="heading dimmed">Affected products</h2>
      {% affected_products cached_suggestion.affected_products %}
    </div>

    <div class="rounded-box column gap">
      <h2 class="heading dimmed">Matching in nixpkgs</h2>
      {% if user|is_maintainer_or_admin %}
        {% if status_filter == "rejected" %}
          {% nixpkgs_package_list cached_suggestion.packages %}
        {% else %}
          {% selectable_nixpkgs_package_list cached_suggestion.packages %}
        {% endif %}
      {% else %}
        {% nixpkgs_package_list cached_suggestion.packages %}
      {% endif %}
    </div>

    {% if status_filter == "pending" or status_filter == "accepted" %}
      {% selectable_maintainers_list maintainers=cached_suggestion.maintainers suggestion_id=cached_suggestion.pk %}
    {% else %}
      {% maintainers_list cached_suggestion.maintainers %}
    {% endif %}


    {% if user|is_maintainer_or_admin %}
    <textarea 
      class="rounded-box monospace highlight-nonempty"
      name="comment" 
      maxlength="1000" 
      placeholder="Free comment: context, additional info, dismissal reason, etc."
      rows="3"
    >{{ suggestion.comment|default:"" }}</textarea>

    <div class="row-reverse spread">
      {% if status_filter == "pending" %}
        <button type="submit" name="new_status" value="accepted" class="btn btn-green row gap-small centered">
          <i class="icon-draft"></i>
          Create draft
        </button>
        <button type="submit" name="new_status" value="rejected" class="btn btn-gray row gap-small centered">
          <i class="icon-bin"></i>
          Dismiss
        </button>
      {% elif status_filter == "rejected" %}
        <button type="submit" name="new_status" value="accepted" class="btn btn-green row gap-small centered">
          <i class="icon-draft"></i>
          Convert to draft
        </button>
      {% elif status_filter == "accepted" %}
        <button type="submit" name="new_status" value="published" class="btn btn-green row gap-small centered">
          <i class="icon-github"></i>
          Publish issue
        </button>
        {% if cached_suggestion.packages %}
          <div class="remove-when-js-is-enabled row gap-small centered">
            <button type="submit" class="btn btn-gray">
              Purge deleted packages
            </button>
            <span class="dimmed">(cannot be undone)<span>
          </div>
        {% endif %}
        <button type="submit" name="new_status" value="rejected" class="btn btn-gray row gap-small centered">
          <i class="icon-bin"></i>
          Dismiss
        </button>
      {% endif %}
    </div>
    {% endif %}
  </form>

  {% if error_message %}
  <div class="error-block">
    {{ error_message }}
  </div>
  {% endif %}
</article>

