{% load viewutils %}

<article class="rounded-box column gap highlight-target" hx-target="this" id="suggestion-{{ suggestion.cached.payload.pk }}">
  <form
    class="contents"
    method="post"
    action=""
    hx-boost="true"
    hx-swap="outerHTML show:none"
    hx-indicator="find .state-change-indicator"
    hx-params="not no-js"
    autocomplete="off"
  >
    <input type="hidden" name="no-js">
    {% csrf_token %}
    <input type="hidden" name="suggestion_id" value="{{ suggestion.cached.payload.pk }}">
    <input type="hidden" name="page" value="{{ page_obj.number }}">

    <div class="row spread gap wrap">
      <div class="row gap wrap">
        <a href="https://nvd.nist.gov/vuln/detail/{{ suggestion.cached.payload.cve_id | urlencode }}">
          {{ suggestion.cached.payload.cve_id }}
        </a>
        {% if suggestion.cached.payload.metrics %}
          {% severity_badge suggestion.cached.payload.metrics %}
        {% endif %}
      </div>
      <div class="row gap">
        <img class="state-change-indicator htmx-indicator" src="/static/spinner.svg">
        {% suggestion_activity_log suggestion activity_log %}
      </div>
    </div>

    <details>
      <summary class="heading">
        {% if suggestion.cached.payload.title %}
          {{ suggestion.cached.payload.title }}
        {% else %}
          {{ suggestion.cached.payload.description|truncatewords:10 }}
        {% endif %}
      </summary>
      <p>{{ suggestion.cached.payload.description }}</p>
    </details>

    <div class="rounded-box column gap">
      <h2 class="heading dimmed">Affected products</h2>
      {% affected_products suggestion.cached.payload.affected_products %}
    </div>

    <div class="rounded-box column gap">
      <h2 class="heading dimmed">Matching in nixpkgs</h2>
      {% if user|is_maintainer_or_admin %}
        {% if suggestion.status == "rejected" or suggestion.status == "published" %}
          {% nixpkgs_package_list suggestion.cached.payload.packages %}
        {% else %}
          {% selectable_nixpkgs_package_list suggestion.cached.payload.packages %}
        {% endif %}
      {% else %}
        {% nixpkgs_package_list suggestion.cached.payload.packages %}
      {% endif %}
    </div>

    {% if suggestion.status == "pending" or suggestion.status == "accepted" %}
      {% selectable_maintainers_list maintainers=suggestion.cached.payload.maintainers suggestion_id=suggestion.cached.payload.pk %}
    {% else %}
      {% maintainers_list suggestion.cached.payload.maintainers %}
    {% endif %}


    {% if user|is_maintainer_or_admin %}
    {% if suggestion.status == "published" %}
      {% if suggestion.comment %}
        <pre class="rounded-box monospace highlight-nonempty">{{ suggestion.comment|default:"" }}</pre>
      {% endif %}
    {% else %}
      <textarea 
        class="rounded-box monospace highlight-nonempty"
        name="comment" 
        maxlength="1000" 
        placeholder="Free comment: context, additional info, dismissal reason, etc."
        rows="3"
      >{{ suggestion.comment|default:"" }}</textarea>
    {% endif %}

    {% if suggestion.status != "published" %}
      <div class="row-reverse spread">
        {% if suggestion.status == "pending" %}
          <button type="submit" name="new_status" value="accepted" class="btn btn-green row gap-small centered">
            {% status_icon "accepted" %}
            Create draft
          </button>
          <button type="submit" name="new_status" value="rejected" class="btn btn-gray row gap-small centered">
            {% status_icon "rejected" %}
            Dismiss
          </button>
        {% elif suggestion.status == "rejected" %}
          <button type="submit" name="new_status" value="accepted" class="btn btn-green row gap-small centered">
            {% status_icon "accepted" %}
            Convert to draft
          </button>
        {% elif suggestion.status == "accepted" %}
          <button type="submit" name="new_status" value="published" class="btn btn-green row gap-small centered">
            {% status_icon "published" %}
            Publish issue
          </button>
          {% if suggestion.cached.payload.packages %}
            <div class="remove-when-js-is-enabled row gap-small centered">
              <button type="submit" class="btn btn-gray">
                Purge deleted packages
              </button>
              <span class="dimmed">(cannot be undone)<span>
            </div>
          {% endif %}
          <button type="submit" name="new_status" value="rejected" class="btn btn-gray row gap-small centered">
            {% status_icon "rejected" %}
            Dismiss
          </button>
        {% endif %}
      </div>
      {% endif %}
    {% endif %}
  </form>

  {% if error_message %}
  <div class="error-block">
    {{ error_message }}
  </div>
  {% endif %}
</article>

