{% load viewutils %}
{% if data.new_unread_count is not None %}
{% notifications_badge count=data.new_unread_count oob_update=True %}
{% endif %}
<article class="rounded-box column gap {% if not data.notification.is_read %}highlight{% endif %}" id="notification-{{ data.notification.id }}">
  <header class="row gap spread">
    <h3 class="heading">{{ data.notification.title }}</h3>
    <time datetime="{{ data.notification.created_at|date }}" class="notification-date">{{ data.notification.created_at|date:"M d, Y H:i" }}</time>
  </header>
  {% if data.notification.message %}
    {{ data.notification.message|linebreaks }}
  {% elif data.notification.suggestion %}
    {% include  "../../suggestions/components/suggestion_stub.html" with data=data.notification %}
    <div class="rounded-box column">
      <h2 class="heading dimmed">Affected products</h2>
      {% affected_products data.notification.suggestion.cached.payload.affected_products %}
    </div>
    {% if data.matching_subscribed_packages %}
      <div class="rounded-box column">
        <h2 class="heading dimmed">Matching packages you follow</h2>
        <div class="column dividers">
          {% for attribute, pdata in data.matching_subscribed_packages.items %}
          {% nixpkgs_package attribute pdata%}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if data.matching_maintained_packages %}
      <div class="rounded-box column">
        <h2 class="heading dimmed">Matching packages you maintain</h2>
        <div class="column dividers">
          {% for attribute, pdata in data.matching_maintained_packages.items %}
          {% nixpkgs_package attribute pdata%}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}
  <form method="post" action="{% url 'webview:notifications:toggle_read' data.notification.id %}" class="row-reverse" hx-indicator="find button">
    {% csrf_token %}
    {% if data.current_page %}
      <!-- Preserve current page if we're in a paginated view in no-js mode -->
      <input type="hidden" name="page" value="{{ data.current_page }}">
    {% endif %}
    <button
      type="submit"
      hx-post="{% url 'webview:notifications:toggle_read' data.notification.id %}"
      hx-swap="outerHTML"
      hx-target="#notification-{{ data.notification.id }}"
      class="btn {%if not data.notification.is_read %}btn-green{% else %}btn-gray{% endif %}">
      Mark {%if not data.notification.is_read %}read{% else %}unread{% endif %}
    </button>
  </form>
</article>
