.avatar {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  vertical-align: middle;
}

.avatar:hover {
  outline: 2px solid white;
}

.logoutButton {
  width: 2em;
  height: 2em;
  padding: 0.2em;
  background: none;
  border: 1px solid;
  border-color: transparent;
  border-radius: 0.4em;
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.logoutButton:hover {
  border-color: white;
}
