{% load viewutils %}

<div class="column gap">
  {% if data.active %}
  <!-- Active packages -->
  <div class="column gap">
    <h2 class="heading dimmed">Matching in nixpkgs</h2>
    <div class="column dividers">
      {% for attribute, pdata in data.active.items %}
        <div class="row gap">
          {% if data.editable %}
            <form
              class="contents"
              method="post"
              action="{% url 'webview:suggestion:ignore_package' suggestion_id=data.suggestion_id package_attr=attribute %}"
              hx-boost="true"
              hx-target="#suggestion-{{ data.suggestion_id }}"
              hx-swap="outerHTML show:none"
              hx-push-url="false"
              hx-indicator="find button"
              autocomplete="off"
            >
              <button 
                type="submit"
                class="btn btn-small btn-gray row gap-small centered"
              >
                <i class="icon-folder-minus"></i>
                Ignore
              </button>
              {% csrf_token %}
            </form>
          {% endif %}
          {% nixpkgs_package attribute pdata %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  
  <!-- Ignored packages (collapsed section) -->
  {% if data.ignored %}
    <details class="details-marker-outside">
      <summary class="heading dimmed">
        Ignored packages ({{ data.ignored|length }})
      </summary>
      <div class="column dividers">
        {% for attribute, pdata in data.ignored.items %}
          <div class="row gap">
            {% if data.editable and user|is_maintainer_or_admin %}
            <form
              class="contents"
              method="post"
              action="{% url 'webview:suggestion:restore_package' suggestion_id=data.suggestion_id package_attr=attribute %}"
              hx-boost="true"
              hx-target="#suggestion-{{ data.suggestion_id }}"
              hx-swap="outerHTML show:none"
              hx-push-url="false"
              autocomplete="off"
              hx-indicator="find button"
            >
              <button 
                type="submit"
                class="btn btn-small btn-green row gap-small centered"
              >
                <i class="icon-folder-plus"></i>
                Restore
              </button>
              {% csrf_token %}
            </form>
            {% endif %}
              {% nixpkgs_package attribute pdata %}
          </div>
        {% endfor %}
      </div>
    </details>
  {% endif %}
</div>
