name: Dry activations
on:
  # Only run dry activate when things are merged
  push:
    branches:
      - main
      - production
jobs:
  # Prepare staging for a deployment by doing the copy closure.
  # Once the PR lands, it will be deployed by the deployment workflow.
  staging:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_SSH_PRIVATE_KEY }}
      - name: Trust staging server public SSH host keys
        run: cat ./infra/host_keys >> ~/.ssh/known_hosts
      - run: nix-shell default.nix -A ci --run "deploy dry-activate"
